.cart{
 
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
  }

  @media screen and (min-width:900px) {
    .cart{
    display: grid;
     /* grid-template-columns: repeat(3, 1fr, minmax(100px,1fr));
     grid-template-rows: repeat(2,100px) ; */
    }
   }
   
  
  .cart_section{
    max-width: 1200px;
    min-height: 700px;
    margin: 0 auto;
  }

  
  .cart_section h2{
    text-align: center;
  }
  
  


.search{
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: center;
  }
  
  .search h2{
    justify-self: start;
    font-size: 30px;
  }
  
  .search_block{
    border: 1px solid rgb(165, 160, 160);
    border-radius: 10px;
    padding: 10px;
    justify-self: end;
    width: 250px;
    display: flex;
    
  }
  
  .search_block:hover{
    border: 1px solid rgb(39, 27, 218);
  }
  
  .search_block img{
    width: 18px;
    margin-right: 40px;
  }
  
  .search_block input{
    border: none;
    font-size: 18px;
    width: 240px;
  }
  
  .search_block input:focus-visible{
    outline: none;
    border-bottom: 1px solid rgb(39, 27, 218);
  }
  
 
  
  
  
  